* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* PAGE */
body { background-color: #171815; }

header { 
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: black;
}

#search_value { 
    padding: 5px 10px;
    border-radius: 3px;
    outline: 0px;
    border: 0px;
}

#search_btn { 
    padding: 5px 10px;
    border-radius: 3px;
    outline: 0px;
    border: 0px;
    font-weight: bolder;
}

#search_btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(206, 0, 0, 0.2);
}

.movies, .shows { 
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    justify-content: space-between;
    grid-gap: 20px;
}

.movie, .tvshow { 
    height: 350px;
    border: 1px solid gray;
    position: relative;
    background-size: cover;
}

.movie div, .tvshow div { 
    display: none;
    position: absolute;
}

.movie:hover > div,
.tvshow:hover > div {
    display: block;
}

.flag { 
    width: 16px; 
    border: 1px solid gray;
}

/* FUNC */
.p_lr25 { padding: 0 25px; }