* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* PAGE */
body { background-color: #171815; }

header { 
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: black;
}

nav { 
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav h1 {
    color: #e21515;
    font-size: 38px;
}

nav > div {
    display: flex;
    align-items: center;
}

main > h2 { 
    color: lightgray;
    padding-top: 20px;
    font-size: 28px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 15px;
 }

#search_value { 
    padding: 5px 10px;
    border-radius: 3px;
    outline: 0px;
    border: 0px;
    margin: 10px;
}

#search_btn { 
    padding: 5px 10px;
    border-radius: 3px;
    outline: 0px;
    border: 0px;
    font-weight: bolder;
}

#search_btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(206, 0, 0, 0.2);
}

.movies, 
.shows { 
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    justify-content: space-between;
    grid-gap: 20px;
}

.shows { margin-bottom: 15px; }

.movie, 
.tvshow { 
    height: 350px;
    border: 1px solid #383737;
    position: relative;
    background-size: cover;
}

.movie > div,
.tvshow > div { 
    display: none;
    position: absolute;
}

.movie:hover > div,
.tvshow:hover > div {
    display: flex;
    justify-content: space-between;    
}

.movie > div,
.tvshow > div {
    background-color: rgb(23 24 21 / 87%);
    color: lightgray;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 10px;
}

.movie_data, .tvshow_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie_info h5,
.tvshow_info h5 {
    font-style: italic;
    font-weight: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 17px;
}

.movie_data > div,
.tvshow_data > div { display: flex; }

.stars { 
    display: flex; 
    padding-top: 1px;
}

h3 { 
    border-bottom: 1px solid lightgray;
    line-height: 22px;
}

h4 { 
    font-size: 14px;
    display: inline-block; 
    margin-right: 5px;
}

.movie_info span, .tvshow_info span {
    font-style: italic;
    font-size: 14px;
}

.ovw, 
#modal #overview {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical; 
    overflow: hidden;
    font-size: 13px;
}

.movie_overview > span,
.tvshow_overview > span {
    font-size: 13px;
    text-decoration: underline;
    font-style: italic;
}

.flag { 
    width: 16px; 
    border: 1px solid gray;
}

.modal {
    color: #d4d0d0;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #171815;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    height: 500px;
  }

  #mcontent { 
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #modal h3 { margin-top: 10px; }

  #cast { margin-left: 20px; }

  #cast li,
  #genre { font-size: 14px; }

/* FUNC */
.p_lr25 { padding: 0 25px; }