<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>
    <!-- Stylesheet -->
    <link rel='stylesheet' href='./assets/css/style.css'>
    <!-- FontAwesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous' />
    <!-- Vue -->
    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js'></script>
    <!-- Axios -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js' integrity='sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==' crossorigin='anonymous' referrerpolicy='no-referrer'></script>
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app">
        <!-- Header -->
        <header class="p_lr25">
            <nav>
                <h1>Boolflix</h1>
                <div>
                    <span class="lightgray">Search for a Movie or TV Show:</span>
                    <input type="text" id="search_value" placeholder="Type something..." v-on:keyup.enter="getResults()">
                    <input type="submit" value="Search" id="search_btn" @click="getResults()">
                </div>
            </nav>
        </header>
        <!-- /Header -->

        <!-- Main -->
        <main class="p_lr25">
            <div v-show="moviesRes.length > 0">
                <h2 class="lightgray">Movies</h2>
                <div class="filter">
                    <h3 class="lightgray">Filter results by genre:</h3>
                    <select name="f_genre" class="f_genre lightgray" v-model="resultsFilter" @change="noResults($event)">
                        <option value="" selected="selected">All</option>
                        <option v-for="el_genre in genre" :value="el_genre.id" :selected="resultsFilter">{{ el_genre.name }}</option>
                    </select>
                </div>
            </div>
            <div class="movies" v-show="moviesRes.length > 0">
                <div class="movie" v-for="(movie, index) in moviesRes" v-if="((movie.genre_ids.includes(resultsFilter) || (resultsFilter == '')))" v-bind:style="[ (movie.poster_path) ? {'background-image': 'url(https://image.tmdb.org/t/p/w342' + movie.poster_path + ')'} : { backgroundImage: 'url(' + notFound + ')', backgroundPosition:'center', backgroundSize:'290px' } ]"> 
                    <div class="lightgray">
                        <div class="movie_info">
                            <h3>{{ movie.title }}</h3>
                            <h5>{{ movie.original_title }}</h5>
                        </div>
                        <div class="movie_overview">
                            <p class="ovw">{{ movie.overview }}</p>
                            <span @click="openModalMovie(index)">Click for more...</span>
                        </div>
                        <div class="movie_data">
                            <img class="flag" :src="getFlag(movie.original_language)" onError="this.src='./assets/img/no-img.png'" width="16" height="12">
                            <div>
                                <h4>{{ movie.vote_average }}</h4>
                                <div class="stars">
                                    <i class="fas fa-star" style="color: yellow" v-for="index in movie.stars"></i>
                                    <i class="fas fa-star" v-for="index in (5 - movie.stars)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <h2 class="no_results" v-show="moviesRes.length > 0" v-if="movieEmpty == true">Nothing matches your filter</h2>
            <div class="controls" v-show="movControls">
                <div class="left_arrow lightgray">
                    <i class="fas fa-arrow-alt-circle-left"></i>
                </div>
                <div class="right_arrow lightgray">
                    <i class="fas fa-arrow-alt-circle-right"></i>
                </div>
            </div>
            <div v-show="seriesRes.length > 0">
                <h2 class="lightgray">Tv Shows</h2>
            </div>
            <div class="shows" v-show="seriesRes.length > 0">
                <div class="tvshow" v-for="(tvshow, index) in seriesRes" v-if="((tvshow.genre_ids.includes(resultsFilter) || (resultsFilter == '')))" v-bind:style="[ (tvshow.poster_path) ? {'background-image': 'url(https://image.tmdb.org/t/p/w342' + tvshow.poster_path + ')'} : { backgroundImage: 'url(' + notFound + ')', backgroundPosition:'center', backgroundSize:'290px' } ]">
                    <div class="lightgray">
                        <div class="tvshow_info">
                            <h3>{{ tvshow.name }}</h3>
                            <h5>{{ tvshow.original_name }}</h5>
                        </div>
                        <div class="tvshow_overview">
                            <p class="ovw">{{ tvshow.overview }}</p>
                            <span @click="openModalShow(index)">Click for more...</span>
                        </div>
                        <div class="tvshow_data">
                            <img class="flag" :src="getFlag(tvshow.original_language)" onError="this.src='./assets/img/no-img.png'" width="16" height="12">
                            <div>
                                <h4>{{ tvshow.vote_average }}</h4>
                                <div class="stars">
                                    <i class="fas fa-star" style="color: yellow" v-for="index in tvshow.stars"></i>
                                    <i class="fas fa-star" v-for="index in (5 - tvshow.stars)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="no_results" v-show="seriesRes.length > 0" v-if="tvshowEmpty == true">Nothing matches your filter</h2>
            <div class="s_controls" v-show="tvControls">
                <div class="left_arrow lightgray">
                    <i class="fas fa-arrow-alt-circle-left"></i>
                </div>
                <div class="right_arrow lightgray">
                    <i class="fas fa-arrow-alt-circle-right"></i>
                </div>
            </div>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <span class="close" @click="closeModal()">&times;</span>
                    <div id="mcontent">
                        <div>
                            <h2 id="mtitle"></h2>
                            <p id="overview"></p>
                        </div>
                        <div>
                            <h3>Cast</h3>
                            <ul id="cast"></ul>
                        </div>
                        <div>
                            <h3>Genre</h3>
                            <span id="genre"></span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- /Main -->
    </div>

    <!-- App -->
    <script src='./assets/js/main.js'></script>
</body>
</html>