<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>
    <!-- Stylesheet -->
    <link rel='stylesheet' href='./assets/css/style.css'>
    <!-- Vue -->
    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js'></script>
    <!-- Axios -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js' integrity='sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==' crossorigin='anonymous' referrerpolicy='no-referrer'></script>
</head>
<body>
    <div id="app">
        <!-- Header -->
        <header>
            <nav>
                <span>Cerca un film:</span>
                <input type="text" v-model="querySearch">
                <input type="submit" value="Cerca" @click="search()">
            </nav>
        </header>
        <!-- /Header -->

        <!-- Main -->
        <div class="movies">
            <div class="movie" v-for="movie in moviesRes">
                <h2>{{ movie.title }}</h2>
                <h3>{{ movie.original_title }}</h3>
                <h4>{{ movie.original_language }}</h4>
                <h4>{{ movie.vote_average }}</h4>
            </div>
        </div>
        <!-- /Main -->
    </div>

    <!-- App -->
    <script src='./assets/js/main.js'></script>
</body>
</html>